<div class="container-fluid" style="padding-top:50px; background-color:orange">
  <div class="row">
    <div class="col-lg">
      <h2>Ready Burgers!</h2>
      <ul>
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burger-block}}
          {{/unless}}
        {{/each}}
      </ul>
    </div>
    
	<div class="col-lg" style="text-align: center">
      <h2>Eat Da Burger</h2>
      <img src="/assets/img/burger.png" alt="Burger">
      
      <form class="create-form">
		<div class="form-group row">
				<label for="burger" class="col-sm-2 col-form-label">Burger Name:</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="burger" placeholder="What is da burger name?">
				</div>
				<button type="submit" class="btn btn-primary col-sm-2">Submit</button>
		</div>
      </form>
    </div>

    <div class="col-lg">
        <h2>Devoured Burgers!</h2>
          <ul>
            {{#each burgers}}
              {{#if devoured}}
                {{> burgers/burger-block}}
              {{/if}}
            {{/each}}
          </ul>
    </div>
  </div>
</div>
