

html{
  height: 100%;
}
body{
  height: 100%;
}

.header{
  width:100%;
  text-align: center;
}
.main-container{
  padding-top:50px; 
  background-color:orange;
  height: 100%;
}
.left-container, 
.middle-container, 
.right-container{
  text-align: center;
}
.create-form {
  padding:25px;
  border:none;
}